* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: #305080;
}

.App-container {
  height: 100%;
  width: 50%;
  min-width: 22rem;
  margin: auto;
  padding: 2rem 2rem 6rem;
}

.button {
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0px 8px 0 #2d4119, 0 10px 15px rgb(0 0 0 / 35%);
  border: none;
  padding: 0;
  display: inline-flex;
  font-size: 1rem;
  max-width: 100%;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .button {
    width: 100%;
  }
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 3rem;
}

.button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.button-inner {
  color: #fff;
  padding: 10px 16px;
  display: inline-block;
  border-radius: 2px;
  font-weight: bold;
  background-color: #588030;
  transition: transform 0.1s ease-in-out;
  line-height: 0;
  width: 100%;
}

.button:active {
  box-shadow: 0px 4px 0 #2d4119, 0 10px 15px rgb(0 0 0 / 35%);
}

.button:focus-visible {
  outline: #afce90 3px solid;
}

.button:active .button-inner {
  transform: translateY(4px);
}

.button-icon-text {
  margin-left: 1rem;
}

.image-container {
  position: relative;
}

.image-placeholder {
  width: 100%;
  background-size: contain;
  padding-top: 62.5%;
  border: 2px solid #a1a1a1;
  margin: 3rem 0 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.image {
  width: 100%;
  margin: 3rem auto 1.5rem;
  display: block;
}

.image-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.65;
}

.result-container {
  margin: auto;
}

.plant-card {
  padding: 1rem;
  margin-bottom: 1rem;
  background: #e8f3de;
  box-shadow: 0px 8px 0 #768564, 0 10px 15px rgb(0 0 0 / 35%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 2rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes diamond {
  0% {
    transform: translate(0%, -300%);
  }
  25% {
    transform: translate(400%, 0);
  }
  50% {
    transform: translate(0%, 300%);
  }
  75% {
    transform: translate(-400%, 0);
  }
  100% {
    transform: translate(0%, -300%);
  }
}

.spinner {
  animation: spin 0.5s infinite linear;
}

.identifying {
  position: absolute;
  color: #fff;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  font-size: 2rem;
  animation: diamond 2s infinite ease-in-out;
}

.error {
  color: red;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  max-width: 40rem;
  padding: 1.5rem;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 0.7);
}
